/* Menu Desktop */

@media only screen and (max-width: 1250px) {
    .menu-bg-color .container {
        padding: 0;
        width: 100%;
    }
    .menu-wrapper {
        margin-right: auto;
        margin-left: auto;
    }
  }
  
  @media only screen and (max-width: 1199px) {
    .menu-bg-color .container-md {
        /* margin: 0; */
        padding: 0;
        width: 100%;
        height: auto !important;
    }
    .menu-wrapper {
        display: flex;
        justify-content: center;
    }
    .menu-bg-color a {
        font-size: 11px;
    }
    .menu-bg-color .menu li a i {
        font-size: 13px;
    }
    .menu-wrapper {
        margin: auto;
    }
  }
  
  /* Header */
  
  @media only screen and (max-width: 1024px) {
    .menu-desktop,
    .header-home .header-home-bg {
        display: none;
    }
    .header-home {
        padding-top: 80px;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .custom-search-input,
    .custom-search-input form {
        width: 100%;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .menu-mobile {
        display: block;
        z-index: 9999;
        position: relative;
    }
  }
  
  @media all and (orientation: portrait) and (min-width: 768px) and (max-width: 1200px) {
    .header-home .container {
        max-width: 960px;
    }
    .new-type-header .new-type-header-right .card .card-body h5 {
        font-size: 15px;
    }
    .new-type-header .new-type-header-right .card .card-body p {
        font-size: 14px;
    }
    .new-type-header .new-type-header-right .card .card-body {
        padding: 5px 10px;
    }
    .posts-content-link .card .card-body h6 {
        font-size: 12px;
    }
    .slider-right-top .card-body h5, .slider-right-second .card .card-body h5 {
        font-size: 14px;
    }
    .slider-right-second .card .card-body p {
        font-size: 1rem;
    }
    .posts-content-link .card .card-body {
        padding: 7px 0 7px 15px;
    }
    .new-type-header .new-type-header-right .card .card-body p {
        margin-bottom: 0;
    }
    .new-type-header .new-type-header-right .card .card-body h5 {
        margin-bottom: 2px;
    }
  
    .footer {
        padding: 30px 0;
    }
    .logo img {
        width: 490px;
    }
    .header-title-detail .social-and-view {
        float: left;
        margin: 5px 0;
    }
    .posts-content {
        height: 760px;
    }
    .slider-right-second .card .img-slider {
      height: 150px;
    }
  }
  
  @media all and (orientation: landscape) and (min-width: 768px) and (max-width: 1200px) {
    .header-home .container {
        max-width: 960px;
    }
    .new-type-header .new-type-header-right .card .card-body h5 {
        font-size: 15px;
    }
    .new-type-header .new-type-header-right .card .card-body p {
        font-size: 14px;
    }
    .new-type-header .new-type-header-right .card .card-body {
        padding: 5px 10px;
    }
    .posts-content-link .card .card-body h6 {
        font-size: 13px;
    }
    .slider-right-top .card-body h5, .slider-right-second .card .card-body h5 {
        font-size: 14px;
    }
    .slider-right-second .card .card-body p {
        font-size: 1rem;
    }
    .posts-content-link .card .card-body {
        padding: 10px 0 10px 15px;
    }
    .posts-today .card .card .card-body {
        padding: 17px 0 17px 15px;
    }
    .logo img {
        width: 490px;
    }
  }
  
  @media (max-width: 280px) {
    .social-and-view {
        float: left !important;
        margin: 2px 0;
    }
  }
  
  @media (max-width: 414px) {
    .posts-today,
    .new-type {
        margin-top: 15px;
    }
    .new-type-header-right .card {
        margin-bottom: 0;
    }
    .footer-right .card .card-body,
    .footer-left .card .card-body {
        padding: 5px;
    }
    .footer-right .card p,
    .footer-left .card p {
        margin-bottom: 5px;
    }
    .footer-right .card p:last-child,
    .footer-left .card p:last-child {
        margin-bottom: 0;
    }
    .article-category .card-body {
      padding: 5px 0 0 0;
    }
    .article-category .card-body h5 {
        font-size: 1.25rem;
    }
    .article-category .card-body p {
        font-size: 1rem;
    }
    .posts-content-link .card .card-body h6 {
        font-size: 16px;
    }
    .slider-right-top .card-body h5, .slider-right-second .card .card-body h5 {
        font-size: 1.25rem;
    }
    .slider-right-second .card .card-body p {
        font-size: 1rem;
    }
    .posts-new-view {
        border: 0;
    }
    .header-title-detail .social-and-view {
        float: left;
        margin: 5px 0;
    }
    .thumb-rep-synthetic-news,
    .thumb-synthetic-news,
    .card-syn-related-news {
        height: auto;
    }
    .thum-posts .thumb-container img {
        width: 100%;
    }
    .thum-posts {
        height: auto;
    }
  
    .logo {
      position: absolute;
      display: flex;
      justify-content: center;
      left: 0;
      margin: 0 25px;
    }
    .owl-carousel-slider .card .img-slider {
      height: 250px;
    }
    .slider .card .card-body h5 {
      font-size: 1.25rem;
    }
  }
  
  @media all and (orientation: landscape) and (min-width: 414px) and (max-width: 736px) {
    .logo img {
        width: 400px;
    }
  }
  @media all and (orientation: portrait) and (min-width: 414px) and (max-width: 736px) {
    
  }
  @media (min-width: 540px) and (max-width: 720px) {
    .logo img {
        width: 400px;
    }
    .posts-new-view,
    .posts-today {
        margin-top: 15px;
    }
    .new-type-header-right .card {
        margin-bottom: 0;
    }
    .article-category .card-body {
        padding: 1rem 1rem;
    }
    .article-category .card-body h5 {
        font-size: 1.25rem;
    }
    .article-category .card-body p {
        font-size: 1rem;
    }
    .posts-content-link .card .card-body h6 {
        font-size: 16px;
    }
    .slider-right-top .card-body h5, .slider-right-second .card .card .card-body h5 {
        font-size: 1.25rem;
    }
    .slider-right-second .card .card .card-body p {
        font-size: 1rem;
    }
    .posts-new-view {
        border: 0;
    }
    .thumb-rep-synthetic-news,
    .thumb-synthetic-news,
    .card-syn-related-news {
        height: auto;
    }
    .thum-posts .thumb-container img {
        width: 100%;
    }
    .thum-posts {
        height: auto;
    }
    .slider .card .card-body h5, .slider-right-second .card .card-body h5 {
        font-size: 1.25rem;
    }
    .slider-right-second .card .card-body p {
        font-size: 1rem;
    }
    .slider-right-second .card .img-slider {
      height: 300px;
    }
    .slider .card .img-slider {
      height: 200px;
    }
  }
  
  @media all and (orientation: portrait) and (min-width: 1024px) and (max-width: 1366px) {
    .posts-content-link .card .card-body h6 {
        font-size: 13px;
    }
    .posts-content-link .card .card-body {
        padding: 10px 0 10px 15px;
    }
    .news-today .card .card .card-body {
        padding: 10px 0 10px 15px;
    }
    .footer {
        padding: 27px 0;
    }
  
    .new-type-header .new-type-header-right .card .card-body h5,
    .new-type-header .new-type-header-right .card .card-body p {
        margin-bottom: .5rem;
    }
    .header-title-detail .social-and-view {
        float: right;
        margin: 2px 0;
    }
    .posts-content {
        height: 750px;
    }
  }
  
  @media all and (orientation: landscape) and (min-width: 1024px) and (max-width: 1366px) {
  
  }
  
  @media all and (orientation: portrait) and (min-width: 540px) and (max-width: 720px) {
    .footer-right .card .card-body {
        margin-top: 0;
        padding: 5px;
    }
    .footer-left .card .card-body {
        padding: 5px;
    }
  }